@font-face {
	font-family: "Open Sans Condensed Light";
	src: url("OpenSans-CondLight.eot?") format("eot"),
	     url("OpenSans-CondLight.woff") format("woff"),
	     url("OpenSans-CondLight.ttf") format("truetype"),
	     url("OpenSans-CondLight.svg#OpenSans-CondensedLight") format("svg");
	font-weight: normal;
	font-style: normal;
}

