<section>
	<h2>Getting Started</h2>
    <p><b>How do I get started?</b></p>
    <p>If you want people, you'll need to have enough food to support 
    them, and they will need to have a place to live. Make sure you 
    have enough food and at least a tent or wooden hut to start with.</p>

    <p><b>I made a worker, but they died straight away!</b></p>
		<p>Workers eat food. Do you have enough spare?</p>

    <p><b>Why do you need so many farmers?</b></p>
		<p>In pre-industrial society, farmers operated at barely above subsistence level, so the numbers aren't actually too far off real life. With lots of upgrades and mills, the efficiency of farmers improves significantly.</p>

    <p><b>My people hate me! How can I fix this?</b></p>
		<p>For the moment, happiness is boosted by victorious raids, or 
		if you have Aesthetics, by building lots of temples.</p>

    <p><b>How do I get gold?</b></p>
		<p>You need to trade for it with the traders who show up randomly.</p>

    <p><b>I don't seem to be making any progress on my wond</b>er. 
		Am I doing it right?</p>
		<p>You need a lot of labourers and a lot of every kind of resource. 
		Really a lot.</p>

    <p><b>How do I get more cats?</b></p>
		<p>It is a mystery.</p>

	<h2>Prestige</h2>

  <p><b>How do I get more deities?</b></p>
		<p>You'll need to reset your game; you get one deity per 
		playthrough (collect them all!).</p>

    <p><b>But if I reset, don't I lose everything?</b></p>
		<p>You get to keep your achievements (you <em>need</em> to reset
		to get them all), your old deities and some of their upgrades 
		(the Pantheon Upgrades section lists the permanent ones), your 
		wonders, and your cats.</p>

    <p><b>What are all the achievements? How do I get them?</b></p>
		<p>Finding out is part of the fun! If you really need to know, 
		check the source code or ask around on <a href="http://www.reddit.com/r/civclicker">Reddit</a>.</p>

    <p><b>Can I buy bonuses for old deities?</b></p>
		<p>You can only buy upgrades for your current deity. You'll be 
		able to do more stuff with old deities in the future.</p>
</section>
<section>

	<h2>History</h2>
  <p><b>What was the inspiration for CivClicker?</b></p>
		<p>The game was strongly inspired by <a href="http://orteil.dashnet.org/cookieclicker/">Cookie Clicker</a>.</p>

    <p><b>Who made this wonderful game?</b></p>
		<p>CivClicker was originally built by David Holley in 2013-14. He stated he didn't intend to develop it further, so it was then maintained by Scott Colcord for part of 2014. Since then no new updates have been made to <a href="https://sourceforge.net/p/civclicker/code/ci/master/tree/">the SourceForge repo</a>, so Luke Nickerson forked it <a href="https://github.com/deathraygames/civ-clicker">on GitHub</a> to make some improvements and potentially inspire others to contribute.
		</p>
	
    <p><b>Can I play my v1.0 save games on later versions?</b></p>
		<p>You can play them on v1.1.  Later
		versions will probably have to break savegame compatibility, in order
		to add new features.</p>

</section>
<section>
	<h2>Bugs &amp; Contributing</h2>
  <p>I f<b>ound a bug. How do I get it fixed?</b></p>
		<p>First, try seeing if a force refresh (Ctrl-F5) fixes things. This sorts 99% of problems.</p>

    <p><b>Okay, I still have a bug.</b></p>
		<p>Sorry about that! Please <a href="https://github.com/deathraygames/civ-clicker/issues/new">file a ticket on the project page</a>.  Screenshots are helpful, as is an exported save string.</p>

    <p><b>Can I help spread the word?</b></p>
		<p>If you like the game, please share a link so more people can enjoy this great game.</p>

    <p><b>How can I help contribute to the game?</b></p>
		<p>The game is released under <a href="http://www.gnu.org/licenses/gpl.html">GPL</a>, so anyone can make improvements as long as they also release their code. Please feel free to create pull requests from <a href="https://github.com/deathraygames/civ-clicker">this GitHub repo</a>, or start your own fork.

		The GPL is an open-source license, but there are still
		a few things that it prohibits:
		<ul><li>You can't change the copyright license.</li>
		<li>You can't remove anyone's name from the AUTHORS file.  You can add
		your own name, if you release your own version.</li>
		<li>You can't release the code in an obscured (obfuscated or JSMin-ed)
		form unless you also publish the unobscured version.</li>
		<li>You can't mix the CivClicker code with code under another license
		unless that license is compatible with the GPL.</li>
		<li>You can't try to legally restrict anyone's ability to distribute
		the program.</li></ul>
		That last one can be important, because some places, like the Apple App
		Store, have DRM restrictions that conflict with it.
		</p>

    <p><b>I have a great idea for a new feature!</b></p>
		<p>You can add it as <a href="https://github.com/deathraygames/civ-clicker/issues">an issue on GitHub</a>.</p>

    <p><b>Where did you get those icons?</b></p>
		<p>The icons are modified from originals found on <a href="http://game-icons.net">game-icons.net</a>. They are used under the CC-BY license (original author details <a href="http://game-icons.net/about.html#authors">here</a>).</p>

    <p><b>And the background?</b></p>
		<p>The previous background is a Constable painting, titled <a href="http://commons.wikimedia.org/wiki/File:MuMA_-_Constable_-_Landscape.JPG">Landscape</a>, and is in the public domain.</p>
		
    <p><b>If I'm forking CivClicker, can I use the icons and background?</b></p>
		<p>Legally yes; the modified versions are released under the same CC-BY license David found them under.</p>
</section>
