<section class="updates">
	<div id="github-releases">
		Loading...
		<!-- populated by ajax call to github api -->
	</div>
	<p>
		<a href="https://github.com/deathraygames/civ-clicker/releases">See release notes on GitHub</a>
	</p>
</section>
<h1>Colcord's Development up to v1.1.59 (Pre-GitHub)</h1>
<section>
	<div id="colcord-releases">
		Loading...
		<!-- populated by ajax -->
	</div>
	<p>
		<a href="updates_colcord.html">See Colcord's changes, up to v1.1.59-alpha (2014)</a>
	</p>
</section>
<h1>Holley's Development up to v1.0 (pre-GitHub)</h1>
<section>
	<div id="holley-releases">
		Loading...
		<!-- populated by ajax -->
	</div>
	<p>
		<a href="updates_holley.html">See Holley's original development up to v1.0 (2013-2014)</a>
	</p>
</section>
<script>
	$.get("https://api.github.com/repos/deathraygames/civ-clicker/releases", function(response){
		var h = '';
		response.forEach(function(release){
			var d = new Date(release.published_at);
			var bullets = release.body.split("* ");
			bullets.shift();
			h += (
				'<h2>' + d.toISOString().substring(0, 10) + ': ' + release.name + '</h2>'
				+ '<div class="body"><ul>'
					+ '<li>' + bullets.join('</li><li>') + '</li>'
				+ '</ul></div>'
			);
		});
		ui.find("#github-releases").innerHTML = h;
	});
	$.get("templates/updates_colcord.html", function(responseText){
		var h = responseText.split('</h1>')[1].split('</body>')[0];
		ui.find("#colcord-releases").innerHTML = h;
	});
	$.get("templates/updates_holley.html", function(responseText){
		var h = responseText.split('</h1>')[1].split('</body>')[0];
		ui.find("#holley-releases").innerHTML = h;
	});
</script>
